*.pyc
__pycache__/
*.log
db.sqlite3
media/
staticfiles/

venv/
env/
.env

.vscode/
.idea/
.DS_Store
Thumbs.db

*.pem
*.key
credentials.csv

docker-compose.override.yml
api/token.json
api/oauth_client.json